:root {
    --main-color : #000;
    --secound-color : #4AB64C;
    --back-color : #fff;
    --pr-color: #555;
}
html {
    scroll-behavior: smooth;
}
body {
    direction: rtl;
    font-family: 'Rubik', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    display: block;
    text-decoration: none;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 786px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.to_top {
    padding: 8px 12px;
    background-color:#4d8d4e;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
    z-index: 99;
}
.to_top svg {
    color: var(--back-color);
    font-size: 18px;
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.title h2 {
    font-size: 40px;
}
.title p {
    margin: 10px 0 20px;
    font-size: 18px;
    color:var(--pr-color);
}

/* header */
header {
    position: fixed;
    background-color: var(--back-color);
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .container img {
    max-width: 150px;
}
header .container .list {
    display: flex;
    align-items: center;
    gap: 70px;
}
header .container .list a {
    position: relative;
    padding: 20px 15px;
    color: #a1a1a1;
    transition: 0.3s;
}
header .container .list a.active, 
header .container .list a:hover {
    color: var(--main-color);
}
header .container .list a::before {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    background-color: var(--secound-color);
    transition: 0.3s ease-in-out;
}
header .container .list a::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    height: 100%;
    background-color: #00000028;
    transition: 0.3s ease-in-out;
}
header .container .list a.active::before,
header .container .list a.active::after,
header .container .list a:hover::after,
header .container .list a:hover::before {
    width: 100%;
}
header .container svg {
    cursor: pointer;
    font-size: 25px;
    display: none;
}

/* landing */
.landing {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../image/landing\ 1.jpg);
    background-size: cover;
    background-position: left;
    color: var(--back-color);
    text-align: center;
    padding: 0 20px;
    overflow: hidden !important;
}
.landing .landing-back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#00000065;
}
.landing .text {
    z-index: 1;
}
.landing .text h1 span {
    font-size: 40px;
    color: var(--secound-color);
    transform: scale(1);
    animation: in-out 1s infinite;
}
.landing .text p {
    font-size: 14px;
    margin: 20px 0 30px;
}
.landing .text a {
    display: inline-block;
    padding: 10px 18px;
    background-color: var(--secound-color);
    color: var(--back-color);
    border-radius: 4px;
    transition: 0.3s;
}
.landing .text a:hover {
    background-color: #4d8d4e;
}
/* services */
.services {
    padding: 50px 0 50px;

}
.services .serback {
    background-color: #f1efef;
}
.services .container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services .container .box {
    position: relative;
    text-align: center;
    background-color: var(--back-color);
    padding: 30px;
    max-width: 350px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateY(0);
    transition: 0.5s;
}
.services .container .box::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 3px;
    background-color: var(--back-color);
    transition: 0.5s ease-in-out;
}
.services .container .box:hover::after {
    width: 100%;
}
.services .container .box:hover {
    background-color: var(--secound-color);
    transform: translateY(-20px);
}
.services .container .box:hover svg,
.services .container .box:hover h3,
.services .container .box:hover p {
    color: var(--back-color);
}
.services .container .box svg {
    transition: 0.3s;
    color: var(--secound-color);
    font-size: 50px;
    margin-bottom: 20px;
}
.services .container .box h3 {
    font-size: 25px;
    margin-bottom: 10px;
    transition: 0.3s;
}
.services .container .box p {
    width: fit-content;
    font-size: 17.6px;
    margin-bottom: 15px;
    transition: 0.3s;
}
/* maintenance */
.maintenance {
    padding-bottom: 50px;
}
.maintenance .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.maintenance .container .image img {
    max-width: 450px;
    height: 350px;
}
.maintenance .container .text {
    max-width: 450px;
    width: fit-content;
}
.maintenance .container .text h3 {
    font-size: 40px;
    color: var(--secound-color);
}
.maintenance .container .text p {
    margin: 20px 0;
    font-size: 18px;
    color: var(--pr-color);
}
.about .container .text a,
.maintenance .container .text a {
    display: inline-block;
    padding: 14px 18px;
    border-radius: 4px;
    color: var(--back-color);
    background-color: var(--secound-color);
    transition: 0.3s;
}
.about .container .text a:hover,
.maintenance .container .text a:hover {
    background-color: #4d8d4e;
}
.maintenance .container .text a svg {
    transform: rotate(0);
}
.maintenance .container .text a:hover svg {
    animation: tel 0.3s infinite;
}

/* about */
.about {
    padding: 20px 0 50px;
    background-color: #f1efef;
}
.about .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about .container .image img {
    max-width: 450px;
    height: 350px;
    border-radius: 10px;
}
.about .container .text {
    max-width: 450px;
}
.about .container .text h3 {
    font-size: 40px;
    color: var(--secound-color);
}
.about .container .text p {
    margin: 20px 0;
    color: var(--pr-color);
}
.about .container .text a svg {
    transform: translateY(0);
}
.about .container .text a:hover svg {
    animation: up-down 0.5s infinite;
}

/* contact */
footer {
    padding: 30px 0;
    background-color: var(--secound-color);
}
footer .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}
footer .container .phone a,
footer .container .lists a {
    color: var(--back-color);
    margin-bottom: 10px;
    transition: 0.3s;
}
footer .container .phone a:hover,
footer .container .lists a:hover {
    text-decoration: underline;
    color: #0d3e7e;
}
footer .media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}
footer .media a{
    display: inline-block;
    color: var(--back-color);
    font-size: 20px;
}
footer .media a svg {
    transition: 0.3s;
}
footer .media .face:hover {
    color: #1877f2;
}
footer .media .inst:hover {
    color: #405de6;
}
footer .media .goog:hover {
    color: #4285f4;
}
footer .media .what:hover {
    color: #34b7f1;
}
footer .bottom-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #d6d6d6;
}
footer .bottom-footer p {
    margin-top: 40px;
    font-size: 12px;
}
/* responsive */
@media (max-width: 991px) {
    header .container .list {
        position: fixed;
        top: 0;
        right: -100%;
        bottom: 0;
        flex-direction: column;
        background-color: var(--back-color);
        width: 430px;
        gap: 20px;
        text-align: center;
        transition: 0.5s ease-in-out;
    }
    header .container .list.active {
        right: 0;   
    }
    header .container .list a {
        width: 100%;
    }
    header .container .list a:nth-of-type(1){
        margin-top: 100px;
    }
    header .container .open {
        display: inline-block;
        padding: 16px 0;
    }
    header .container .list .close {
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 15px;   
    }
}
@media (max-width: 749px) {
    .services .container {
        justify-content: center;
        gap: 5px;
    }
    .maintenance .container {
        flex-direction: column;
    }
    .maintenance .container .text {
        margin-bottom: 40px;
        text-align: center;
    }
    .about .container {
        flex-direction: column;
    }
    .about .container .text {
        margin-bottom: 40px;
        text-align: center;
    }
}
@media (max-width: 500px) {
    header .container .list {
        width: 100%;
    }
    header .container img {
        width: 100px;
    }
}
@media (max-width: 450px) {
    .landing {
        background-position: calc(100% - 450px);
    }
    footer .container {
        flex-direction: column;
    }
    footer .container .lists {
        margin-bottom: 20px;
    }
}
@media (max-width: 380px) {
    .about .container .image img {
        max-width: 200px;
    }
}


/* animation */
@keyframes tel {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(30deg);
    }
}
@keyframes up-down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(3px);
    }
}